body{margin: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;}
  
  
  header{
    height: 30px;
    background-color: white;
    padding-left: 360px;
    padding-top: 20px;
}

  #main{
    display: grid;
    grid-template-columns: 1.3fr 1fr 1fr 1fr 1fr 1.3fr;
    grid-template-rows: 80px 65px 45px;

}

#main>div{
    border: solid 0px;
}

#logo {grid-column:  2;
   padding-top: 3.5%;
}

#nav {grid-column: 3/6;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header2{
    width: 70%;
}

#menu {
    grid-column: 2;
    grid-row: 2/4;
}

.alldepartments{height: 34px;
  background-color: rgb(4, 143, 4);
  color: white;
  text-align: center;
  padding-bottom: 20px;
  position: relative;}
  
  .txtdepartments{font-weight: 800;
    padding-left: 15px;
    padding-right: 25px;}

#busca {
    grid-column: 3/6;
    grid-row: 2;;
    height: 40px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
}

.emailh{padding-right: 15px;
  padding-left: 20px;}

.linhah{padding-right: 15px;}

.shippingh{padding-right: 280px;}

.facebook{height: 14px;
  padding-right: 20px
}

.twitter{height: 14px;
  padding-right: 20px
}

.linkedin{height: 14px;
  padding-right: 20px;
}

.pinterest{height: 14px;
  padding-right: 20px
}

.angle{height: 10px;
  padding-right: 15px;}
  
  .angle2{height: 10px;
      padding-right: 15px;
      padding-top: 20px;}
  
      .angle3{height: 10px;
        padding-right: 20px;
        padding-top: 120px;}
  
  .english{padding-right: 7px;
    padding-left: 10px;}
  
  .user{padding-left: 10px;
    padding-right: 15px;
height: 12px;}

  .home{
    padding-left: 5%;
    padding-top: 3.5%;
    font-weight: 800;
    font-size: 14px;
    padding-right: 10px;
}

.icons1{
  padding-right: 5%;
}

.icon{
  height: 20px;
}

.coracao{height: 17px;
  padding-right: 10px;}
  
  .carrinho{height: 17px;
  padding-right: 15px;}

  #item{
    font-weight: 100;
}

.bars{height: 15px;}

.allcat{padding-right: 20px;
  padding-left: 40px;
  padding-top: 20px;
  font-weight: 800;}

.btnsearch{height: 50px;
  background-color: rgb(4, 143, 4);
  color: white;
  font-weight: bolder;
  border-width: 0px;
  width: 110px;}
      
.txtbusca{height: 50px;
  width: 230px;
  border: none;
  font-size: 17px;
  padding-top: 5px;}
      
.telefonebusca{
  height: 15px;
  padding-top: 20px;
  padding-left: 60px;}

#testandopens{
  display: flex;
  flex-direction: row;}

#infominiprodutos{display: flex;
  flex-direction: column;}

.listanone{ list-style: none;}

.txttel1{font-weight: 800;
  font-size: 16px;
  padding-bottom: 5px;}
          
.txttel2{font-weight: lighter;
  font-size: 12px;} 

.refs{text-decoration: none;
  color: black;}

#check{ position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  opacity: 0;
  cursor: pointer;}
              
              #check2{ position: absolute;
                  left: 1180px;
                  opacity: 0;
                  width: 180px;
                  bottom: 930px;
                  height: 120px;}
              
              .listatrans{opacity: 0;
              background-color: white;
              position: absolute;
              color: black;
              list-style: none;
              text-align: left;
              padding-left: 35px;
              padding-top: 20px;
              width: 252px;
              height: 420px;}
              
               #check:checked~.listatrans{opacity: 1;
                  z-index: 10;
                  transition: 1s;}
              
               .pd8px{padding: 8px;
                      font-size: 17px;
                      font-weight: 400;}
              
              
              .flexrowenglish{display: flex;
              flex-direction: row;}
              
              #check2:hover~.listaenglish{opacity: 1;
                  z-index: 10;
                  transition: 1s;}
              
               .listaenglish{opacity: 0;
                  background-color: gray;
                  position: absolute;
                  color: white;
                  list-style: none;
                  text-align: left;
                  font-weight: 600;
              }

              .flexrow{display: flex;
                flex-direction: row;}

                .header3{
                  height: 220px;
                  width: 100%;
                  background-image: url(https://preview.colorlib.com/theme/ogani/img/breadcrumb.jpg);
                  grid-column: 1/7;
                  grid-row: 4;
                  background-repeat: no-repeat; 
                  padding-top: 5px;}
          
                .txtheader3{text-align: center;
                  font-size: 46px;
                  font-weight: 800;
                  color: white;}
            
                .txt2header3{text-align: center;
                  font-size: 16px;
                  font-weight: 800;
                  padding-top: 0;}
            
                .txt3header3{text-align: center;
                  font-size: 16px;
                  font-weight: 400;}

.pt2contact{display: grid;
  grid-template-columns: 1.6fr 1.3fr 1.3fr 1.3fr 1.3fr 1.4fr;
  grid-template-rows: 230px 480px 100px 40px 50px 50px 30px 50px 200px 45px 100px;}

  .blogphone{grid-column: 2;
    grid-row: 1;}

  .blogadress{grid-column: 3;
    grid-row: 1;}

  .blogtime{grid-column: 4;
    grid-row: 1;}

  .blogemail{grid-column: 5;
    grid-row: 1;}

  .iconblog1{height: 40px;
   color: green;
   padding-left: 115px;
   padding-bottom: 40px;}

   .iconblog2{height: 40px;
    color: green;
    padding-left: 125px;
    padding-bottom: 40px;}

    .iconblog3{height: 40px;
      color: green;
      padding-left: 120px;
      padding-bottom: 40px;}

      .iconblog4{height: 40px;
        color: green;
        padding-left: 120px;
        padding-bottom: 40px;}

  .txtcontact1-1{font-weight: bolder;
               font-size: 26px;
               padding-bottom: 15px;
               padding-left: 100px;}

               .txtcontact1-2{font-weight: bolder;
                font-size: 26px;
                padding-bottom: 15px;
                padding-left: 90px;}

                .txtcontact1-3{font-weight: bolder;
                  font-size: 26px;
                  padding-bottom: 15px;
                  padding-left: 80px;}

                  .txtcontact1-4{font-weight: bolder;
                    font-size: 26px;
                    padding-bottom: 15px;
                    padding-left: 105px;}

  .txtcontact2-1{font-weight: 400;
               font-size: 16px;
                padding-left: 75px;}

               .txtcontact2-2{font-weight: 400;
                font-size: 16px;
                padding-left: 40px;}

                .txtcontact2-3{font-weight: 400;
                  font-size: 16px;
                  padding-left: 60px;}

                  .txtcontact2-4{font-weight: 400;
                    font-size: 16px;
                    padding-left: 70px;}

.maps{grid-column: 1/7;
  grid-row: 2;}

#ptfooter{display: grid;
  grid-template-columns: 1.3fr 1.8fr 0.1fr 1.8fr 0.1fr 1.8fr 0.7fr;
  grid-template-rows: 50px;
padding-bottom: 50px;}

#pt1footer{grid-row: 21;
  grid-column: 2;}

#pt2footer{grid-row: 21;
  grid-column: 4;
display: flex;
flex-direction: row;}

#pt3footer{grid-row: 21;
  grid-column: 6;}

  .c3a4r4{grid-row: 4;
    grid-column: 3/5;
    text-align: center;
    font-size: 32px;
    font-weight: 800;}

  .c2a3r6{grid-row: 6;
    grid-column: 2/4;}

  .c4a5r6{grid-row: 6;
    grid-column: 4/6;}

  .c2a6r8{grid-row: 8;
    grid-column: 2/6;}

  .c3a4r10{grid-row: 10;
    grid-column: 3/5;
    text-align: center;}

    .txt1leavemessage{width: 500px;
    height: 50px;
    font-size: 14px;
    border: none;}

    .txt2leavemessage{width: 500px;
      font-size: 14px;
      height: 50px;
      border: none;}

    .txt3leavemessage{width: 1073px;
      font-size: 14px;
      font-family: "Cairo", sans-serif;
      border: none;}

    .submit1leavemessage{width: 200px;
                         height: 55px;
                         background-color: #80ac3c;
                         color: white;
                         font-size: 17px;
                         font-weight: 800;
                         border: none;}
    
                         .iconfooter{height: 17px;
                          padding-right: 45px;
                          padding-top: 35px;}
             
              .ul1footer{list-style: none;
              padding-bottom: 20px;}
             
              .ul2-1footer{list-style: none;
                           font-size: 16px;
                           font-weight: 800px;}
             
              .ul2-2footer{list-style: none;}
             
              .ul3footer{list-style: none;}
             
              .lipt1f{padding-bottom: 20px;}
             
              .lipt2f{padding-bottom: 10px;
                      font-size: 14px;
                      padding-top: 8px;}
             
              .lipt2f2{padding-bottom: 15px;
                       font-size: 16px;
                       font-weight: 800;}
             
               .lipt2fb{padding-bottom: 40px;
                 font-size: 14px;
                 padding-top: 8px;}
             
               .txtenteremail{width: 200px;
                              height: 40px;
                              border: none;
                              font-size: 16px;
                              font-weight: 300;}
             
               .btnfooter{width: 130px;
                          height: 45px;
                          font-size: 14px;
                          color: white;
                          font-weight: bold;
                          border: none;
                          background-color: #80ac3c;}
             
                .c2r15{grid-column: 2;
                       grid-row: 15;}
             
                     .c4r15{grid-column: 4;
                        grid-row: 15;}
             
                           .c6r15{grid-column: 6;
                              grid-row: 15;}
             
                 
             
                       .iconcalendar{height: 18px;
                         font-weight: 400;
                       padding-right: 5px;}
                   
                         .iconbalao{height: 18px;
                           font-weight: 400;
                         padding-right: 5px;
                         padding-left: 30px;}

                         #cartoes{display: grid;
                          grid-template-columns: 1.5fr 3fr 1.4fr 1.3fr 1.6fr;
                          grid-template-rows: 50px}
                      
                      .c2r1{grid-column: 2;
                            grid-row: 1;
                            font-size: 15px;
                            font-weight: 500;}
                      
                      .c4r1{grid-column: 4;
                            grid-row: 1;}

                            #check3{ position: absolute;
                              left: 830px;
                              opacity: 0;
                              width: 70px;
                              bottom: 853px;
                              height: 60px;}
                      
                              #check3:hover~.listapages{opacity: 1;
                                  z-index: 10;
                                  transition: 1s;}
                              
                               .listapages{opacity: 0;
                                  background-color: black;
                                  position: absolute;
                                  color: white;
                                  list-style: none;
                                  text-align: left;
                                  font-weight: 600;
                                  left: 840px;
                                  top: 100px;
                              }


    



                